{% load static %}

<header class="header">
  <div class="section-content-wide">
    <nav class="menu">
      <li id="website-title" class="menu-item">
        <a href="{% url 'home' %}">
          OliPvP
        </a>
      </li>
      </li>
      <ul class="menu-items">
        <li class="menu-item">
          <a href="{% url 'main:guide' %}">
            <img class="menu-icon" src="{% static 'icons/guide.png' %}" alt="Ranks">Guide</a>
        </li>
        <li class="menu-item">
          <a href="{% url 'blog:home' %}">
            <img class="menu-icon" src="{% static 'icons/love.png' %}" alt="News">News</a>
        </li>
        <li class="menu-item">
          <a href="{% url 'pricing' %}">
            <img class="menu-icon" src="{% static 'icons/plan3.png' %}" alt="Prices">Memberships
          </a>
        </li>
        {% if user.is_authenticated %}
        <li class="menu-item">
          <a href="{% url 'user_subscription' %}">
            <img class="menu-icon" src="{% static 'icons/man.png' %}" alt="Logout">You</a>
        </li>
        {% else %}
        <li class="menu-item">
          <a class="menu-link" href="{% url 'account_login' %}">
            <img class="menu-icon" src="{% static 'icons/man.png' %}" alt="Login">Login</a>
        </li>
        {% endif %}
        <li class="menu-item" id="theme-toggle">
          <a style="cursor: pointer;">
            <img id="theme-icon" class="menu-icon" src="{% static 'icons/moon.png' %}" alt="Night Theme">
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
