{% extends "base.html" %}

{% block content %}
{% load static %}

<main class="main-content main-background section-wrapper">
  <div class="section-content-wide">
    <div class="section-gap">
      <div class="options">
        <a hx-get="{{ mo_url }}" hx-target="#pricing-container" hx-swap="outerHTML">
          Monthly
        </a>
        <a hx-get="{{ yr_url }}" hx-target="#pricing-container" hx-swap="outerHTML">
          Yearly
        </a>
      </div>
      {% include "subscriptions/subscription_card.html" with subscriptions=subscriptions %}
    </div>
  </div>
</main>


{% endblock %}