{% load static %}

<div class="card-grid card_transition" id="pricing-container">

  {% for subscription in subscriptions %}

  <article class="card">
    <div class="card-text-wrapper">
      <div class="card-title-wrapper">
        <h2 class="card-title">
          <a href="{{ subscription.get_checkout_url }}">
            <img class="card-icon" src="{{ subscription.display_image }}" alt="{{ subscription.display_sub_name }}" />
            <p style="color: {{ subscription.get_color_subscription }}; display: inline;">{{ subscription.display_sub_name }}</p>
          </a>
        </h2>
      </div>

      <p class="card-price">
        <strong>{{ subscription.price }}€</strong> /{{ subscription.interval }}
      </p>
      <ul class="card-features">
        {% for feature in subscription.display_features_list %}
        <li>{{ feature }}</li>
        {% endfor %}
      </ul>

      <div class="card-actions">
        <a href="{{ subscription.get_checkout_url }}">Purchase</a>
      </div>
    </div>
  </article>
  {% endfor %}

</div>