{% extends "base.html" %}

{% block content %}
{% load static %}

<main class="main-content main-background section-wrapper">
  <div class="section-content-wide">
    <div class="section-gap">

      <div class="options">
        <a hx-get="{% url 'main:guide_replacement' page=' ' %}" hx-target="#manual-container" hx-swap="outerHTML">
          Guide
        </a>
        <a hx-get="{% url 'main:guide_replacement' page='ranks' %}" hx-target="#manual-container" hx-swap="outerHTML">
          Ranks
        </a>
      </div>
        {% include "main/partials/guide_manual.html" with guide=guide %}
    </div>
  </div>
</main>

{% endblock content %}