{% extends 'base.html' %}
{% block content %}

<div class="section-wrapper center-vertical">
    <div class="section-content-wide">
        <div class="section-gap">

            {% if subscription.is_active_status %}

            <h1>Are you sure you want to cancel {{ subscription.plan_name }}?</h1>

            {% csrf_token %}
            <form action="" method="POST">
                <button class="btn mb-base" type="submit">Yes, cancel</button>
            </form>
            <a href="{{ subscription.get_absolute_url}}">No, go back</a>

            {% else %}

            <h1>Your membership is not longer active</h1>

            {% endif %}

        </div>
    </div>
</div>

{% endblock content %}