{% extends 'base.html' %}
{% block content %}
{% load static %}

<main class="main-content main-background section-wrapper">
  <div class="section-content-wide">
    <div class="section-gap">
      {% if posts %}
      <div class="card-grid">
        {% for post in posts %}
        <article class="card">

          {% if post.cover %}
          <div class="card-cover-wrapper">
            <a href="{{ post.get_absolute_url }}" class="card-cover-link">
              <img class="card-cover" loading="lazy" src="{{ post.cover.url }}" alt="Cover post {{ post.title }}">
            </a>
          </div>
          {% endif %}

          <div class="card-text-wrapper">
            <div class="card-title-wrapper">
              <a href="{{ post.get_absolute_url }}" class="card-title-link">
                <h2 class="card-title">{{ post.title }}</h2>
              </a>
            </div>

            <div class="card-content-wrapper">
              <p class="card-content">
                {{ post.excerpt }}
              </p>

              <div class="card-actions">
                <a class="card-action-link" href="{{ post.get_absolute_url }}">
                  <span>Read</span>
                  <i class="fa-solid fa-circle-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>

        </article>
        {% endfor %}
      </div>
      {% else %}
        {% include "partials/nothing.html" with extra="News are empty!" %}
      {% endif %}
    </div>
  </div>
</main>

{% endblock content %}